.social-icon {
    height: 50px;
    padding: 2px;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', Verdana, sans-serif;
    background-color: #151515;
    color: white;
    text-align: center;
}